/dicom/DME_Dicom_KM*
/preproc/DME_Preproc_KM*
/GLM/glm1/Regress_glm1/KM*
/GLM/glm1/DME_FirstLevel_glm1_KM*
/GLM/parametric_modulation/pm_*/Regress_pm_*/KM*
/GLM/parametric_modulation/param_mod/KM*
/GLM/parametric_modulation/*/DME_FirstLevel_pm_*_KM*.mat
/contrast/glm1/DME_FirstLevel_Contrast_glm1_KM*
/contrast/parametric_modulation/*/DME_FirstLevel_Contrast_pm_*_KM*.mat
/group_anal/glm1/two_way_anova/*SW*.mat
/group_anal/glm1/two_way_anova/*WS*.mat
/group_anal/glm1/trend_effect_within_group/*SW*.mat
/group_anal/glm1/trend_effect_within_group/*WS*.mat
/group_anal/beta_series_correlation/two_sample_t-test/DME_SecondLevel_BetaSeries_TwoSample_ttestSW*.mat
/group_anal/parametric_modulation/*/t-test/DME_SecondLevel_pm_*_ttest_SW*.mat
.Rproj.user
